@use '/styles/abstracts/variables';

.slideWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 120px 0 120px;
    margin-bottom: 105px;
    height: 747px;
    background-color: variables.$base-background-color;

    .decor {
        position: absolute;
        margin-top: -35px;
        margin-left: -120px;
        z-index: 300;
        width: 200px;
        height: 70px;
        background-color: variables.$base-black;
    }

    h1 {
        position: relative;
        font-weight: 700;
        z-index: 450;
        margin-top: 155px;
    }

    .slideLeftSide {
        width: 530px;
        display: flex;
        flex-direction: column;

        h1 {
            align-self: flex-end;
            border-bottom: 5px solid #000000;
            padding: 0 20px 28px 0;
        }

        h2 {
            padding-top: 50px;
            width: 430px;
            font-size: 26px;
            font-weight: 600;
        }

        .firstSlide {
            .line {
                border: 2px black solid;
                width: 271px;
                background-color: black;
            }

            h1 {
                font-size: 80px;
                border: none;
                margin-top: 0;
                padding: 0;
            }

        }

        button {
            position: absolute;
            bottom: 140px;
            cursor: pointer;
            background-color: variables.$base-background-color;
            margin-top: 78px;
            font-weight: 600;
            width: 280px;
            height: 76px;
            font-size: 20px;
            border: 1px solid black;

        }
    }

    .slideRightSide {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .imageForSlide {
            position: absolute;
            right: 0;
            z-index: 401;
        }

        .pageNumber {
            position: absolute;
            right: 0;
            background-color: variables.$base-black;
            width: 395px;
            height: 100%;
            font-size: 400px;
            color: aliceblue;

            .black_quote_decor {
                margin-left: -186px;
                position: absolute;
                bottom: 0;
                z-index: 402;
                border: #000000 2px solid;
                height: 328px;

            }

            // div {
            //     font-size: 400px;
            //     color: aliceblue;
            // }

        }

        h1 {
            position: relative;
            color: white;
            font-size: 70px;
            font-weight: 700;
            padding: 0 20px 28px 10px;
            border-bottom: 5px solid white;
        }

        .quote {
            display: flex;
            position: relative;
            z-index: 450;
            color: white;
            font-size: 20px;
            width: 759px;
            padding: 142px 280px 0 178px;

            .quote_decor {
                border: 2px white solid;
                height: 202px;
                margin-right: 21px;
            }

            blockquote {
                margin-bottom: 20px;
            }

            cite {
                font-style: normal;
            }

        }

    }

}